<div class="container mt-4">
    <form>
      <div class="form-group">
        <label for="ime">Ime:</label>
        <input type="text" class="form-control" id="ime" [(ngModel)]="ime" [ngModelOptions]="{standalone: true}" placeholder="Unesite ime">
      </div>
  
      <div class="form-group">
        <label for="prezime">Prezime:</label>
        <input type="text" class="form-control" id="prezime" [(ngModel)]="prezime" [ngModelOptions]="{standalone: true}" placeholder="Unesite prezime">
      </div>
  
      <div class="form-group">
        <label for="brojNocenja">Broj Nocenja:</label>
        <input type="number" class="form-control" id="brojNocenja" [(ngModel)]="brojNocenja" [ngModelOptions]="{standalone: true}" placeholder="Unesite broj nocenja">
      </div>
  
      <button type="button" class="btn btn-primary" (click)="dodajPodatak()">Dodaj</button>
    </form>
  </div>