<div class="recommendation">
    <h2>Preporuke</h2>
    <div class="recommendation-category">
      <h3>Za obrok</h3>
      <ul>
        <li>Restoran 1</li>
        <li>Restoran 2</li>
        <li>Restoran 3</li>
        <!-- Dodajte više restorana ili opcija za obrok -->
      </ul>
    </div>
    <div class="recommendation-category">
      <h3>Za izlazak</h3>
      <ul>
        <li>Zabavni park</li>
        <li>Pozorište</li>
        <li>Klubovi</li>
        <!-- Dodajte više preporuka za izlazak -->
      </ul>
    </div>
    <!-- Dodajte više kategorija preporuka po potrebi -->
  </div>
