<div class="offer">
    <h2>Ponuda MetHotela</h2>
    <div class="offer-item">
      <img src="https://dfdv0zghb6jws.cloudfront.net/wallpapers/images/000/008/593/original/10-11-2023-0-36046-vip-casa.jpg?1699518754" alt="Ponuda 1">
      <h3>Ponuda 1</h3>
      <p>Opis ponude 1...</p>
      <p>Cena: $100</p>
    </div>
    <div class="offer-item">
      <img src="https://dfdv0zghb6jws.cloudfront.net/wallpapers/images/000/008/575/original/3-11-2023-0-41963-danica.jpg?1698929282" alt="Ponuda 2">
      <h3>Ponuda 2</h3>
      <p>Opis ponude 2...</p>
      <p>Cena: $150</p>
    </div>
    <!-- Dodajte više ponuda po potrebi -->
  </div>
